@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary-rgb: 52, 144, 220;
  --color-secondary-rgb: 255, 255, 255;
  --color-primary: #ffffff; /* default primary color */
  --color-secondary: #ffffff; /* default secondary color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

* {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Poppins", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

/* Your other styles */

.featured-card {
  /* border: 1px solid var(--color-primary) !important; */
  color: var(--color-primary);
}

.featured:after {
  background-color: var(--color-primary);
  content: "Featured";
  /* font-style: italic; */
  display: block;
  color: #fff;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 2px 8px;
  border-radius: 5rem;
  /* border-top-right-radius: .8rem;
  border-bottom-left-radius: .5rem; */
  font-size: 12px;
}

body {
  color: rgb(var(--foreground-rgb));

}

.swiper-slide {float: right;}
/* .swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-next {display: block;} */


.description ul {

  list-style: disc;
  padding-left: 1rem;
  margin-bottom: 1.5rem;

}
.description p{
  
    margin-bottom: 1rem;
  
}

.banner{
  position: relative;
  height: min-content;
}
.panel{
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  left: 999999rem;
}
.panel.active{
  opacity: 1;
  position: relative;
  left: unset;
}


/* 

Animations & Keyframes 

*/

@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}